
        <div class="centered">
        <ul>
          <li><a href="./let's-talk-anxiety.html">Let's Talk Anxiety</a></li>
          <li><a href="./dear-me.html">Letter to Myself</a></li>
        </ul>
      </div>