<div class="sticky-nav-bar">
      <nav class="nav-bar">
        <div class="horizontal-group">
          <div>
            <a class="home-link" href="/index.html">Megan John</a>
          </div>
          <div class="nav-bar-elements">
            <a href="#">All Posts</a>
          </div>
        </div>
        <div class="nav-bar-elements">
          <a class="twitter-contact-me" href="https://twitter.com/who_meg" target="_blank">
            <img
              id="twitter-logo"
              src="/assets/Twitter_Social_Icon_Rounded_Square_Color.png"
              alt="Twitter logo"
            />
            <span id="contact-me">Contact me</span>
          </a>
        </div>
      </nav>
      <div class="shadow"></div>
    </div>